.project-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 80%;
    margin: auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-item {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.project-item:hover {
    transform: translateY(-6px);
}

.project-image {
    width: 100%;
    height: 200px;
}

@media (min-width: 768px) {
    .project-image {
        height: 300px;
    }
}

.image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
